@import "./abstracts/variables";

@import "./dist/auroral.min.css";

@import "./pages/homescreen/index";

@import "./components/game";
@import "./components/button";

body {
  overflow: hidden;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
