@import "./abstracts/variables";

@import "./pages/homescreen/menu";
@import "./pages/homescreen/game-title";

@import "./components/game";

body {
  overflow: hidden;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.home-screen {
  height: 100vh;
  width: 100vw;
  background-image: url("file:///D:/Downloads/Download%20wallpaper%203840x2160%20northern%20lights%20night%20night%20sky.jpg");
  background-size: cover;
  background-position: center;
}
