@import "../fonts/Oxygen";

@import "./abstracts/variables";

@import "./dist/auroral.min.css";

@import "./pages/home/index";
@import "./pages/welcome/index";

@import "./components/game";
@import "./components/button";
@import "./components/modal";
@import "./components/list";
@import "./components/drawer";
@import "./components/loader";
@import "./components/info-card";

body {
  overflow: hidden;
  margin: 0;
  cursor: none !important;
  font-family: "Oxygen", sans-serif;
}

html,
body {
  background: #000;
}
