.home-screen__background {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;

  &--container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  background-image: url("/assets/jpg/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .auroral-stars {
    transform: translate(-0.5rem);
  }
}
