.game-slider {
  width: 100vw;
  position: absolute;
  height: 12.5rem;
  bottom: 0;
  left: 0;
  padding: 1rem;
  box-shadow: 0px -8px 13px 11px rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(30px);

  &__menu {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: 0.2s ease-in-out;
    width: fit-content;
  }
}
