.game-title {
  position: fixed;
  padding: 0.7rem 1rem;
  margin: 1rem;
  border-radius: 12px;
  width: calc(100vw - 2rem);
  color: $white;
  font-size: 22px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(30px) brightness(0.8);
}
