.drawer {
  height: 100%;
  padding: 0 1.5rem;
  width: 20rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: -6px 0px 17px rgba(0, 0, 0, 0.15);
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: $white;

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }

  &.active {
    transform: translateX(0);
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: none;
    transition: background 0.2s ease-in-out;

    &.active {
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__title {
    width: 100%;
    color: $white;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 18px;
    font-size: 18px;
  }

  &__inner {
    padding: 1.5rem 0;
    height: 100%;
  }
}
